@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;

  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;

  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;

  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;

  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;

  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;

  --radius: 0.5rem;
}

.dark {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;

  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;

  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;

  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;

  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;

  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;

  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;

  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
  --ring: 0 0% 83.1%;
}
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
* {
  @apply border-border;
}
body {
  @apply bg-background text-foreground;
}
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  height: 8rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.footerText {
  color: theme('colors.darkest');
  font-size: medium;
  font-family: 'DM Sans';
  font-weight: 700;
  line-height: 2.50;
  text-align: start;
  word-wrap: break-word;
}

.icon-gallery {
  float: center;
  height: 3.5rem;
  width: 3.5rem;
  min-width: 3.5rem;
  object-fit: fill;
}

p {
  color: theme('colors.darkest');
  font-size: medium;
  font-family: 'DM Sans';
  text-align: center;
}

h4 {
  color: theme('colors.darkest');
  font-size: large;
  font-family: 'DM Sans';
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.boxes {
  background-color: white;
  padding-top: 10.0rem;
  padding-bottom: 15.0rem;
  padding-left: 0.5rem;
  padding-right:0.5rem;
}

.individualCards {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  justify-content: center;
}

.individualCards img{
  height: 16rem;
  width: 16rem;
  objject-fit: fill;
}