@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;

  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;

  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;

  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;

  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;

  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;

  --radius: 0.5rem;
}

.dark {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;

  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;

  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;

  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;

  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;

  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;

  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;

  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
  --ring: 0 0% 83.1%;
}
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

@layer base {
* {
  @apply border-border;
}
body {
  @apply bg-background text-foreground;
}
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  height: 8rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.footerText {
  color: theme('colors.darkest');
  font-size: medium;
  font-family: 'DM Sans';
  font-weight: 700;
  line-height: 2.50;
  text-align: start;
  word-wrap: break-word;
}

.icon-gallery {
  float: center;
  height: 3.5rem;
  width: 3.5rem;
  min-width: 3.5rem;
  object-fit: fill;
}

p {
  color: #1B717D;
  font-size: 1.2rem;
  text-align: center;
  color: #1B717D;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Fira Sans";
}

h4 {
  color: theme('colors.darkest');
  font-size: large;
  font-family: 'DM Sans';
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Styles for text containers within individualCards */
.text-container {
  text-align: center; /* Center-align text content */
  padding: 1.5rem; /* Add padding around text content */
}

/* Additional styles for h4 and p elements */
.text-container h4 {
  color: theme('colors.darkest');
  font-size: 2.5rem;
  font-family: 'DM Sans';
}

.text-container p {
  color: #1B717D;
  font-size: 1.2rem;
  font-family: 'DM Sans';
  margin-top: 1rem; /* Add spacing above paragraphs */
  /* margin-bottom: 1rem; Add spacing below paragraphs */
}

.boxes {
  background-color: white;
  /* padding-bottom: 2rem; */
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Adjustments to individualCards container */
.individualCards {
  /* display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: space-evenly; /* Center items vertically */
  text-align: center; /* Center-align content within individualCards */
  padding: 1.75rem; /* Add padding around individualCards */
  background-color: white;
}

/* Styles for images within individualCards */
.individualCards img{
  height: 16rem;
  width: auto;
  objject-fit: fill;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.title{
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: theme("colors.headerColor");
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Fira Sans", sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px; /* 100% */
  background-color: white;
}

.everything {
  padding-top: 18rem;
  background-color: white;
}

