.custom-navbar {
  background-color: white;
  position: fixed;
  z-index: 1000;
}

.nav-buttons {
  color: theme('colors.darkTeal');
  font-family: theme('fontFamily.body'); /* Apply DM Sans font */
  font-size: 1.2rem;
}

.logo-container {
  text-align: center;
  height: 100%; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 135px;
  height: 100%; /* Allow the height to adjust automatically to maintain aspect ratio */
  margin: 10px; /* Add some margin between the logo and text */
  transition: width 0.3s ease; /* Smooth transition for width */
}

.company-name {
  font-size: 45px; /* Adjust the font size as needed */
  font-weight:600;
  flex-grow: 1; /* Allow the middle company name to expand to fill remaining space */
  font-family: theme('fontFamily.body'); /* Apply DM Sans font */
  color: theme('colors.darkest');
  overflow: unset;
  transition: width 0.3s ease; /* Smooth transition for width */
}

.menu-item {
  font-family: theme('fontFamily.body'); /* Apply DM Sans font */
  color: theme('colors.darkTeal');
}

.menu-icon {
  color: theme('colors.darkest');
}

@media screen and (max-width: 450px) {
  .logo {
    width: 75px; 
  }

  .company-name {
    font-size: 30px; /* Adjust the font size as needed */
  }
}





