/* ------ styling project image gallery flexboxes -------- */
/* todo: ask Amy how to better redesign this responsively */
#past-projects-gallery {
    justify-content: center;
}

#vertical-proj-img {
    margin-right: 0.5em;
    margin-bottom: 1em;
}

#big-horizontal-proj-img {
    margin-bottom: 0.5em;
}

#small-left-horizontal-proj-img {
    margin-top: 0.5em;
    margin-right: 0.25em;
}

#small-right-horizontal-proj-img {
    margin-top: 0.5em;
    margin-left: 0.25em;
}